*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

}
body{
    font-family: 'Courier New', Courier, monospace;
}
.bloc-1{
    background-color: #201f1f;
    width: 70%;
    height: 100vh;
}
.bloc-2{
    background-color: #00ff00;
    width: 30%;
    height: 100vh;
    position: absolute;
    top: 0px;
    right: 0%;
}